.led-green-on {
    background-color: #16a34a; 
    
    box-shadow: 
        0 0 5px #16a34a, 
        0 0 20px rgba(22, 163, 74, 0.7); 
}
.led-orange-on {
    background-color: #ea580c; 
    
    box-shadow: 
        0 0 5px #ea580c, 
        0 0 20px rgba(234, 88, 12, 0.7); 
}
.led-red-on {
    background-color: #dc2626; 
    
    box-shadow: 
        0 0 5px #dc2626, 
        0 0 20px rgba(220, 38, 38, 0.7); 
}
.led-off {
    background-color: #374151;
}